$color-primary: #3445E5;
$color-primary-hover: #1B2CCF;
$color-hover: #27283D;
$text-dark: #181C32;
$bg-primary: #F3F6F9;
$dark-color: #1F1E2E;
$color-secondary: #7E8299;
$my-card-bg: #d8d9db;
$success: #1BC5BD;
$success-hover: #0BB7AF;
$red: #F64E60;
$red-hover: #EE2D41;
$color-info: #8950FC;
$color-info-hover: #7130f1;
$orange: #FFA800;
$orange-hover: #d68f01;

.dark-theme {
  >.training-page {
    background-color: $dark-color;
  }
}

.training-page {
  background-color: $bg-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    box-sizing: border-box;
    width: 900px;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    background-color: $color-info;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: $text-dark;
    
    @media screen and (max-width: 1000px) {
      width: 90%;
      padding: 10px;
    }

    &-upper {
      display: grid;
      grid-template-columns: 1fr 150px;
      gap: 5px; 
      
      >h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
      }      

      > .button-next {
        background-color: $success;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s;
        outline: none;
        border: none;
        height: 40px;
        margin-bottom: 0.7em;
        align-self: flex-end;

        &:hover {
          background-color: $success-hover;
        }
      }
    }
  }

  .training-progress {
    display: grid;
    grid-template-rows: minmax(25px, auto);
    grid-template-columns: 30px 1fr 30px;
    gap: 5px; 

    &-left, &-right {
      text-align: center;
      font-weight: bold;
    }

    &-center {
      width: 100%;

      .progress {
        overflow: hidden;
        height: 18px;
        margin-bottom: 18px;
        background-color: rgba(137, 148, 155, 0.2);
        background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
        background-repeat: repeat-x;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        & .bar {
          width: 0%;
          height: 18px;
          color: $bg-primary;
          font-size: 12px;
          text-align: center;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: $success;
          background-image: linear-gradient(top, #149bdf, #0480be);
          background-repeat: repeat-x;
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-sizing: border-box;
          transition: width 0.6s ease;
        }

        &.progress-striped .bar {
        background-color: $success;
        background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.15) 15%, 
        transparent 15%, transparent 30%, rgba(255, 255, 255, 0.15) 30%, 
        rgba(255, 255, 255, 0.15) 45%, transparent 45%, 
        transparent 60%, rgba(255, 255, 255, 0.15) 60%,
        rgba(255, 255, 255, 0.15) 75%, transparent 75%,
        transparent 90%, rgba(255, 255, 255, 0.15) 90%,
        rgba(255, 255, 255, 0.15)); 
        }
      }
    }
  }

  .training-card {
    box-sizing: border-box;
    padding: 0.5em 0 0;
    border-radius: 5px;
    margin-top: 0.5em;
    width: 100%;
    height: 100%;
    background-color: $my-card-bg;

    &-header {
      padding: 0.5em 0.5em;
      display: grid;
      grid-template-rows: minmax(40px, auto);
      grid-template-columns: 120px 1fr 120px 120px 120px;
      gap: 5px; 

      &-btn-active, &-btn-keyboard, &-btn-difficult, &-btn-delete {
        font-family: 'Montserrat', sans-serif;
        background-color: $color-primary;
        border-radius: 5px;
        transition: 0.3s;
        outline: none;
        border: none;
        cursor: pointer;
      }
    &-btn-keyboard > .bi {
        font-size: 2em;
        cursor: pointer;
      }

      &-btn-active:hover, &-btn-keyboard:hover, &-btn-difficult:hover, &-btn-delete:hover {
        background-color: $color-primary-hover;
      }

      &-btn-active.active, &-btn-difficult.active, &-btn-delete.active {
        background-color: $color-hover;
        color: $bg-primary;
      }

      &-btn-active {
        grid-column: 3 / 4;
      }

      &-btn-difficult {
        grid-column: 4 / 5;
      }

      &-btn-delete {
        grid-column: 5 / 6;
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr 1fr 1fr;

        &-btn-active {
          grid-column: 1;
        }
    
        &-btn-difficult {
          grid-column: 2;
        }
    
        &-btn-delete {
          grid-column: 3;
        }

        &-btn-keyboard {
          display: none
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      background-color: $bg-primary;

      &-upper {
        padding: 0 0.5em 0.5em;

        &-progress {
          display: grid;
          grid-template-rows: minmax(25px, auto);
          grid-template-columns: 7fr 3fr;
          gap: 5px; 


          &-stars {
            justify-self: flex-end;
            
            > i {
            color: $orange;
          }}

          @media screen and (max-width: 500px) {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;

            &-stars {
              grid-row: 1;
            }
          }
        }

        >hr {
          margin-top: 0;
          background-color: $color-info;
          color: $color-info;
          height: 1px;
          border: none;

        }
      }

      &-word {
        box-sizing: border-box;
        border-radius: 5px;
        border: $color-info solid 1px;
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: space-between;
        background-color: $my-card-bg;

        @media screen and (max-width: 500px) {
          flex-direction: column-reverse;
          align-items: center;
          width: auto;
        }
        &-details {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          padding: 5px;

          &-field {
            >.bi {
              font-size: 1.5em;
              color: $text-dark;
            }
            &-input {
              margin-left: 0.5em;
              outline: none;
              font-size: 24px;
              font-family:'Courier New', Courier, monospace;
              color: $color-info;
              border-radius: 5px;
              border: none;
              &[disabled] {
                background-color: $text-dark;
              }
  
              &.green{
                color: $success;
              }
              &.red{
                color: $red;
              }
            }
          }

          >p {
            margin: 0;
            padding-bottom: 5px;
          }
        }

        &-img {
          box-sizing: border-box;
          height: 200px;
          border-radius: 4px;

          >img {
            max-width: 300px;
            border-radius: 4px;
            @media screen and (max-width: 500px) {
              max-width: 270px;
            }
          }
          @media screen and (max-width: 500px) {
            height: auto;
            max-width: 270px;
          }
        }
      }

      &-examples {
        display: grid;
        grid-template-columns: 25px 1fr;
        grid-auto-rows: minmax(25px, auto);
        column-gap: 5px;
        padding: 10px 10px 5px;
        width: 100%;
        box-sizing: border-box;

        .sentence-eng {
          grid-column: 2;
          grid-row: 1;
        }
        .sentence-ru {
          grid-column: 2;
          grid-row: 2;
        }
        .meaning-eng {
          grid-column: 2;
          grid-row: 3;
        }
        .meaning-ru {
          grid-column: 2;
          grid-row: 4;
        }
        > .bi {
          font-size: 1.2em;
          color: $text-dark;
          &:before {
            vertical-align: text-top;
          }
        }

        .example-sound {
          grid-column: 1;
          grid-row: 1/ 3;
        }
        .meaning-sound {
          grid-column: 1;
          grid-row: 3/ 5;
        }
        >p {
          margin: 0;
          padding-bottom: 5px;
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: space-evenly;
      align-items: stretch;
      min-height: 40px;
      padding: 0.5em;

      >.btn-footer {
        font-family: 'Montserrat', sans-serif;
        border-radius: 4px;
        border: none;
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        min-width: 130px;
        min-height: 40px;

        &.active {
          background-color: $color-hover;
          color: $bg-primary;
        }

        @media screen and (max-width: 500px) {
          margin-top: 0.5em;
        }
      }

      &-btn-answer {
        background-color: $color-primary;
        align-self: center;

        &:hover {
          background-color: $color-primary-hover;
        }
      }

      &-btn-again {
        background-color: $red;

        &:hover {
          background-color: $red-hover;
        }
      }
      &-btn-hard {
        background-color: $orange;

        &:hover {
          background-color: $orange-hover;
        }
      }
      &-btn-good {
        background-color: $color-info;

        &:hover {
          background-color: $color-info-hover;
        }
      }
      &-btn-easy {
        background-color: $success;

        &:hover {
          background-color: $success-hover;
        }
      }
      &-btn-good[disabled], &-btn-easy[disabled] {
        background-color: $color-secondary;
        cursor: auto;
      }
      @media screen and (max-width: 500px) {
        flex-wrap: wrap;
      } 
    }
  }
}