$color-primary: #3445E5;
$color-primary-hover: #1B2CCF;
$color-danger: #F64E60;
$color-danger-hover: #EE2D41;
$color-warning: #FFA800;
$color-warning-hover: #d68f01;
$color-success: #1BC5BD;
$color-success-hover: #0BB7AF;
$color-info: #8950FC;
$color-info-hover: #7130f1;
$bg-primary: #F3F6F9;

$dark-color: #1F1E2E;
$color-dark-hover:#2c2b3a;
$dark-color-secondary: #181824;
$bg-card-dark:#1B283F;
$bg-overlay:#414141ad;

$d-bg-primary: #1C1E2F;
$d-bg-card-primary: #222437;

$color-hover: #27283D;
$d-main-card-bg-hover:#445de22b;


$color-primary-blend:#f1f3ff;
$color-success-blend:#c9f7f5;
$color-danger-blend:#ffe2e5;
$color-warning-blend:#fff4de;
$color-info-blend: #ece5fc;

$color-secondary: #7E8299;
$my-card-bg: #d8d9db;

$color-separator-line: #ebedf3;


$background-color: #ffffff1a; //какой-то бг для темного фона
$text-dark: #181C32;
$text-dark-75: #3f4254;
$text-dark-50: #7E8299;
$text-dark-25:  #d1d3e0;
$text-muted:#b5b5c3;
