@import "./../../sass/colors.scss";
@import "./../../sass/breakpoints.scss";
@import "./../../sass/constants.scss";

.header {
  background-color: $dark-color;
  color: $color-secondary;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  height: 7rem;
  position: relative;
  font-size: 1.6rem;

  &-toggle {
    float: right;
    background: $bg-primary;
    margin-left: auto;
    width: 4.8rem;
    height: 2.4rem;

    .dark-theme & {
      background: $color-dark-hover;
    }

    &.click {
      position: relative;
      cursor: pointer;
    }

    & span {
      background: $dark-color-secondary;
      display: block;
      transition: $bg-color-transition;
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;

      .dark-theme & {
        background: $bg-primary;
        left: 2.8rem;
      }
    }

    &,
    span {
      border-radius: 10rem;
    }
  }

  &-switch-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &-lang {
    padding: 0 0.5rem;
    width: 17.2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5rem;
    border-radius: 0.5rem;
    position: relative;
    font-size: 1.8rem;

    & i::before {
      font-size: 1.8rem;
    }

    &:hover {
      background: $color-hover;
      transition: $bg-color-transition;
      color: #ffffff;
    }

    & img {
      width: 4rem;
      height: 2.7rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
    }

    &-dropdown {
      overflow: hidden;
      position: absolute;
      top: 6rem;
      background: #ffffff;
      width: 17.2rem;
      height: 5.7rem;
      border-radius: 0.5rem;
      display: flex;
      max-height: 0;
      transition: $bg-color-transition;
      filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      align-items: center;

      &-content {
        height: 4rem;
        width: 100%;
        display: flex;
        padding: 0 2.3rem;
        justify-content: space-between;
        border-radius: 0.5rem;
        user-select: none;
        color: $color-secondary;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $bg-primary;

          transition: $bg-color-transition;
          color: $color-primary;
        }
      }
    }

    &.isActive .header-lang-dropdown {
      max-height: 9rem;
    }
  }

  &-userInfo {
    width: 7.9rem;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;

    &-userImg {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      background-color: $color-dark-hover;
      display: flex;
      align-items: center;
      margin-left: 0.35rem;

      & img {
        width: 100%;
      }
    }

    & i::before {
      font-size: 1.8rem;
    }

    &:hover {
      background: $color-hover;
      transition: $bg-color-transition;
      color: #ffffff;
    }

    &:hover &-userImg {
      background-color: #ffffff;
    }

    &-dropdown {
      height: 17.1rem;
      overflow: hidden;
      position: absolute;
      top: 6rem;
      left: -13.4rem;
      background: #ffffff;
      width: 21.4rem;
      border-radius: 0.5rem;
      display: block;
      max-height: 0;
      transition: $bg-color-transition;
      filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

      text-align: center;

      & div {
        display: flex;
        height: 4rem;
        padding-left: 2rem;
        border-radius: 0.5rem;
        user-select: none;
        align-items: center;
        justify-content: left;

        color: $color-secondary;
        font-size: 1.8rem;

        & i {
          margin-right: 1.3rem;
        }

        & a {
          font-size: 1.4rem;
          text-decoration: none;
          color: $color-secondary;
        }

        &:not(:first-child) {
          cursor: pointer;
        }

        &:last-child {
          margin-top: 0.7rem;
        }

        &:first-child {
          margin-top: 0.9rem;

          & i {
            color: $color-primary;
          }
        }

        &:not(:first-child):hover {
          background-color: $bg-primary;
          transition: $bg-color-transition;

          & a,
          i {
            color: $color-primary;
          }
        }
      }
    }

    &.isActive .header-userInfo-dropdown {
      max-height: 17.1rem;
    }
  }

  &-theme {
    margin-left: auto;
    width: 18.5rem;
    padding: 0.5rem;

    &-label {
      margin-left: auto;
      margin-right: 1.6rem;
    }
  }

  &,
  .header-title,
  .header-theme {
    display: flex;
    align-items: center;
  }

  &-mute {
    width: 5rem;
    height: 5rem;
    margin-right: 2.5rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;

    & i {
      &::before {
        font-size: 4.2rem;
      }
    }

    &:hover {
      background: $color-hover;
      transition: $bg-color-transition;
      color: $color-primary;
    }
  }

  &-login {
    display: flex;
    width: 20rem;
    justify-content: space-around;

    &-link {
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-secondary;
      text-decoration: none;
      height: 5rem;
      border-radius: 0.5rem;


      &:hover {
        background: $color-hover;
        transition: $bg-color-transition;
        color: $color-primary;
      }
    }
  }

  &-logoimg {
    margin-left: 16.5rem;
    z-index: 30;
    transition: $bg-color-transition;
    width: 22rem;
  }

  &-logoimg.is-active {
    margin-left: 0.5rem;
  }
}

i {
  display: flex;
}

hr {
  border: 0.1rem solid #EBEDF3;
  margin-top: 1.5rem;
}

.rotate {
  transform: rotate(180deg);
  transition: $bg-color-transition;
}

@media(max-width: $size-xl) {
  .header-theme {
    width: 16.5rem;

    &-label {
      margin-right: 0.5rem;
    }
  }

  .header-userInfo {

    margin-right: 1rem;
  }

  .header-lang {
    margin-right: 1rem;
  }

  .header-mute {

    margin-right: 1rem;
  }

  .header-logoimg {
    margin-left: 8rem;
  }
}

@media(max-width: $size-lg) {
  .header-logoimg {
    margin-left: 1rem;
  }

  .header-userInfo {

    margin-right: 0;
  }

  .header-lang {
    margin-right: 0;
  }

  .header-mute {

    margin-right: 0;


  }

  .header {

    padding: 0 2.5rem;
  }
}

@media(max-width: $size-md) {
  .header-lang-dropdown {
    left: -4rem;
    top: 5rem;

    & div {
      height: 4rem;
    }
  }

  .header-userInfo-dropdown {
    left: -4rem;
    top: 5rem;

    & div {
      height: 4rem;
    }
  }

  .header {
    height: 5rem;
  }

  .header-logoimg {
    margin-left: 3rem;
    width: 17rem;

    & img {
      width: 17rem;
    }
  }

  .header-mute i::before {

    font-size: 4rem;
  }

  .header-mute {
    width: 4rem;
    height: 4rem;

    margin-right: 0.5rem;
  }

  .header-lang {
    width: 8rem;

    & span {
      display: none;
    }
  }

  .header-theme-label {
    display: none;
  }

  .header-theme {
    width: 6.5rem;
  }
  .header-userInfo {
    height: 4rem;
  }

  .header-lang {
    height: 4rem;

  }

  .header-userInfo-userImg {
    width: 4rem;
    height: 4rem;
  }
}