.header {
  background-color: #393E46;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px
}
.header {
 
  
  &-toggle {
    background: #3e5f96;
    margin-left: 12px;
    width: 48px;
    height: 24px;

    span {
      background:#a77f35;
      display: block;
      transition: .2s;
      width: 16px;
      height: 16px;
      position: absolute ;
      top: 4px;
      left: 4px;

      .dark-theme & {
        background: #000;
        left: 28px;
      }
    }

    &, span {
      border-radius: 100px;
    }

    // .dark-theme & {
    //   // background: $section-background-dark-theme;
    // }
  }

  &-theme {
    .base-text-label {
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
  }
  &, .header-title, .header-theme {
    display: flex;
    align-items: center;
  }
}

.click {
  position: relative;
  cursor: pointer;
}

