@import "./../../sass/constants.scss";
@import "./../../sass/breakpoints.scss";

.header {
  background-color: #1F1E2E;
  color: #7E8299;
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  position: relative;
  font-size: 16px;

  &-toggle {
    float: right;
    background: #3e5f96;
    margin-left: auto;
    width: 48px;
    height: 24px;

    &.click {
      position: relative;
      cursor: pointer;
    }

    & span {

      background: #a77f35;
      display: block;
      transition: .2s;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 4px;
      left: 4px;

      .dark-theme & {
        background: #1F1E2E;
        left: 28px;
      }
    }

    &,
    span {
      border-radius: 100px;
    }


  }

  &-switch-menu {
    margin-left: auto;
    display: flex;
    align-items: center;

  }

  &-lang {
    padding: 0 5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 25px;
    border-radius: 5px;
    position: relative;


    & i::before {
      font-size: 18px;

    }

    &:hover {
      background: #27283D;
      transition: .1s;
      color: #3445E5;
    }

    & img {
      width: 40px;
      height: 27px;
      border-radius: 5px;
      margin-right: 5px;
    }

    &-dropdown {
      overflow: hidden;
      position: absolute;
      top: 60px;
      left: 24px;
      background: #ffffff;
      width: 125px;
      border-radius: 5px;
      display: block;
      max-height: 0;
      transition: max-height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      box-shadow: 0 3px 10px 1px #7E8299;
      text-align: center;


      & div {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        user-select: none;
        align-items: center;
        color: #7E8299;

        cursor: pointer;

        &:hover {
          background-color: #F3F6F9;
          ;
          transition: .2s;
          color: #3445E5;
        }
      }
    }

    &.isActive .header-lang-dropdown {
      max-height: 9rem;

    }
  }

  &-userInfo {
    width: 79px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px;
    position: relative;

    &-userImg {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      margin-left: 3.5px;

      & img {
        width: 100%;
      }

    }

    & i::before {
      font-size: 18px;

    }

    &:hover {
      background: #27283D;
      transition: .1s;
      color: #3445E5;
    }

    &-dropdown {
      overflow: hidden;
      position: absolute;
      top: 60px;
      left: 24px;
      background: #ffffff;
      width: 125px;
      border-radius: 5px;
      display: block;
      max-height: 0;
      transition: max-height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      box-shadow: 0 3px 10px 1px #7E8299;
      text-align: center;

      & div {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        user-select: none;
        align-items: center;

        cursor: pointer;

        & a {
          text-decoration: none;
          color: #7E8299;
        }

        &:hover {
          background-color: #F3F6F9;
          transition: .2s;
          color: #3445E5;

          & a {
            color: #3445E5;
          }

        }
      }
    }

    &.isActive .header-userInfo-dropdown {
      max-height: 9rem;
    }
  }

  &-theme {
    margin-left: auto;
    width: 185px;
    padding: 0.5rem;

    &-label {
      margin-left: auto;
      margin-right: 16px;
    }

    .base-text-label {
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
  }

  &,
  .header-title,
  .header-theme {
    display: flex;
    align-items: center;
  }

  &-mute {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border-radius: 5px;


    & i {
      &::before {
        font-size: 50px;
      }

    }

    &:hover {
      background: #27283D;
      transition: .1s;
      color: #3445E5;
    }
  }

  &-login {
    display: flex;
    width: 200px;
    justify-content: space-around;

    &-link {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7E8299;
      text-decoration: none;
      height: 50px;
      border-radius: 5px;


      &:hover {
        background: #27283D;
        transition: .1s;
        color: #3445E5;
      }
    }
  }

  &-logoimg {
    margin-left: 165px;
    z-index: 30;
    transition: 1s;
    width: 22rem;
  }

  &-logoimg.is-active {
    margin-left: 5px;

  }
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.4s;

}

@media(max-width: $size-xl){
  .header-theme {
      width: 16.5rem;
      &-label{
        margin-right: 0.5rem ;
      }
}
.header-userInfo {
 
  margin-right: 1rem;
}
.header-lang {
  margin-right: 1rem;
}
.header-mute {
  
  margin-right: 1rem;


}
.header-logoimg {
  margin-left: 80px;
}}