@import './../../../sass/colors.scss';
@import './../../../sass/constants.scss';
@import './../../../sass/typography.scss';

.card {
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $card-padding-margin;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: $card-padding-margin 0;
  }

  &-img {
    width: 100%;
    object-fit: cover;
    border-radius: $block-border-radius;
  }

  &-text {
    color: $text-dark-75;
    font-size: 1.4rem;
    line-height: 140%;

    &-primary {
      font-size: 2rem;
      line-height: 140%;
      font-weight: 600;
    }

    &-eng {
      font-weight: 600;
      b,
      i{
        color: $color-primary;
      }
    }
  }

  &-word {
    width: 50%;
    margin-bottom: 2rem;
  }

  &-example {
    display: flex;
    margin-bottom: 1rem;
  }

  & .column {
    &:first-child {
      width: 30rem;
      margin-right: $card-padding-margin;
    }

    &:nth-child(2) {
      flex-grow: 1;
    }

    &-flex {
      display: flex;
      justify-content: space-between;
    }
  }

  &-transcription {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & > .card-text {
      font-size: 1.6rem;
      font-weight: 400;
      font-style: italic;
    }
  }

  &-footer {
    padding-top: $card-padding-margin;
    display: flex;
    justify-content: space-evenly;

    &-heading {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $text-muted;
      line-height: 140%;
      font-weight: 600;
    }

    &-text {
      font-size: 1.6rem;
      color: $text-dark-75;
      line-height: 140%;
      font-weight: 600;
    }
  }
  
  .star-container {
    .word-progress-stars {
      font-size: 2.2rem;
    }
  }
  
}
