@import './sass/constants.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

button{
  outline: none;
}

li{
  list-style: none;
}

.separator {
  height: 0;
  border-bottom: 1px solid #EBEDF3;
  margin-top: 1.5rem;
}

.rotate {
  transform: rotate(180deg);
  transition: $bg-color-transition;
}

.d-none {
  display: none !important;
}
