@import "./sass/constants.scss";

html {
  font-size: 10px;
}

body {
  margin: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

button {
  outline: none;
  background-color: transparent;
}

li {
  list-style: none;
}

.separator {
  height: 0;
  border-bottom: 1px solid #ebedf3;
}

.rotate {
  transform: rotate(180deg);
  transition: $bg-color-transition;
}

.d-none {
  display: none !important;
}

.flex {
  display: flex;
}

.btn-icon {
  height: calc(1.5em + 1.3rem + 2px);
  width: calc(1.5em + 1.3rem + 2px);
  text-align: center;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  border-radius: $block-border-radius;

  > i {
    pointer-events: none;
    font-size: 26px;
  }

  &-small {
    height: calc(1.5em + 1.3rem + 2px);
    width: calc(1.5em + 1.3rem + 2px);
    text-align: center;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    border-radius: $block-border-radius;

    > i {
      pointer-events: none;
      font-size: 16px;
    }
  }
}
